<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      [displayCode]="displayCode$ | async"
      [error]="error$ | async"
      (displayCodeChanged)="checkChanged()"
      (initializeNewProduct)="newProduct()"
      (productWasSelected)="productSelected($any($event))"
    ></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
      [selectedProduct]="selectedProduct$ | async"
      [errorMessage]="error$ | async"
      (create)="createProduct($any($event))"
      (update)="updateProduct($any($event))"
      (delete)="deleteProduct($any($event))"
      (clear)="clearProduct()"
    ></pm-product-edit>
  </div>
</div>